@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

@theme inline {
  --font-baskerville: "Libre Baskerville", monospace;
  --font-jakarta: "Plus Jakarta Sans", serif;
  --font-chivo: "Chivo Mono", monospace;

  --color-background: var(--theme-background);
  --color-text: var(--theme-text);

  --color-primary: var(--theme-primary);

  --color-background-helper: var(--theme-background-helper);

  --color-secondary-background: var(--theme-secondary-background);
  --color-secondary-text: var(--theme-secondary-text);

  --spacing-mono: calc(var(--font-size) * var(--theme-line-height-base));

  --radius-lg: var(--radius);
  --radius-md: calc(var(--radius) - 2px);
  --radius-sm: calc(var(--radius) - 4px);

  @keyframes fade-in-up {
    0% {
      opacity: 0;
      transform: translateY(10px);
      filter: blur(12px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
      filter: blur(0px);
    }
  }

  @keyframes bg-pan-2 {
    0% {
      background-position: 5% 5%;
    }
    15% {
      background-position: 50% 5%;
    }
    30% {
      background-position: 5% 38%;
    }
    45% {
      background-position: 50% 38%;
    }
    60% {
      background-position: 80% 58%;
    }
    90% {
      background-position: 5% 45%;
    }
    100% {
      background-position: 5% 5%;
    }
  }

  @keyframes bg-pan-3 {
    0% {
      background-position: 5% 5%;
    }
    25% {
      background-position: 5% 100%;
    }
    50% {
      background-position: 90% 5%;
    }
    75% {
      background-position: 5% 100%;
    }
    100% {
      background-position: 5% 5%;
    }
  }

  @keyframes bg-pan-4 {
    0% {
      background-position: 2% 2%;
    }
    20% {
      background-position: 40% 2%;
    }
    40% {
      background-position: 2% 30%;
    }
    60% {
      background-position: 30% 40%;
    }
    80% {
      background-position: 30% 95%;
    }
    100% {
      background-position: 2% 2%;
    }
  }

  @keyframes bg-ct {
    0% {
      background-position: 20% 2%;
    }
    20% {
      background-position: 20% 60%;
    }
    40% {
      background-position: 100% 60%;
    }
    60% {
      background-position: 100% 0%;
    }
    80% {
      background-position: 70% 100%;
    }
    100% {
      background-position: 20% 2%;
    }
  }

  @keyframes bg-ct-2 {
    0% {
      background-position: 20% 80%;
    }
    50% {
      background-position: 40% 80%;
    }
    100% {
      background-position: 95% 80%;
    }
  }

  @keyframes block-char {
    0% {
      left: 0%;
    }
    100% {
      left: 100%;
    }
  }

  @keyframes text-cycle {
    0%,
    100% {
      color: var(--color-purple-400);
    }
    12.5% {
      color: var(--color-orange-400);
    }
    25% {
      color: var(--color-lime-500);
    }
    37.5% {
      color: var(--color-cyan-400);
    }
    50% {
      color: var(--color-violet-400);
    }
    62.5% {
      color: var(--color-teal-400);
    }
    75% {
      color: var(--color-pink-400);
    }
    87.5% {
      color: var(--color-fuchsia-400);
    }
  }

  /* Define the animation utility name */
  --animate-fade-in-up: fade-in-up 0.6s ease-in forwards;
  --animate-block-char: block-char 10s steps(34, end) forwards infinite;
  --animate-text-cycle: text-cycle 8s infinite linear;
}

@layer base {
  :root {
    --radius: 0.5rem;
    --theme-line-height-base: 1.25;
    --font-size: 14px;

    --theme-background: #fff;
    --theme-text: #000;

    /*--theme-background: #0625ee;
    --theme-text: #fff;*/

    --theme-primary: #0625ee;

    --theme-background-helper: #051ec2;

    --theme-secondary-background: #ffe51c;
    --theme-secondary-text: #241f21;

    /*--theme-background: #0100fe;
    --theme-text: #fff;*/

    /*--theme-background: #ece9e0;
    --theme-text: #e43d13;*/

    /*--theme-background: #668964;
    --theme-text: #1b1b1b;*/

    /*--theme-background: #e8ff6c;
    --theme-text: #000;*/
  }
}

@layer base {
  body {
    @apply bg-background text-text font-jakarta;
    line-height: calc(var(--theme-line-height-base) * 1rem);
  }

  ::-webkit-scrollbar {
    width: 5px;
  }
  ::-webkit-scrollbar-track {
    background: transparent;
  }
  ::-webkit-scrollbar-thumb {
    background: var(--color-gray-300);
    border-radius: 0px;
  }
  * {
    scrollbar-width: thin;
    scrollbar-color: var(--color-gray-300) transparent;
  }
  button:not(:disabled),
  [role="button"]:not(:disabled) {
    cursor: pointer;
  }
  .social-link {
    @apply underline hover:decoration-wavy underline-offset-2 decoration-neutral-400 hover:decoration-neutral-800 hover:text-neutral-800 transition-colors duration-300;
  }
}
