@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

@theme inline {
  --font-baskerville: "Libre Baskerville", monospace;
  --font-jakarta: "Plus Jakarta Sans", serif;
  --font-chivo: "Chivo Mono", monospace;

  --color-background: var(--theme-background);
  --color-text: var(--theme-text);

  --color-secondary-background: var(--theme-secondary-background);
  --color-secondary-text: var(--theme-secondary-text);

  --spacing-mono: calc(var(--font-size) * var(--theme-line-height-base));

  --radius-lg: var(--radius);
  --radius-md: calc(var(--radius) - 2px);
  --radius-sm: calc(var(--radius) - 4px);

  @keyframes fade-in-up {
    0% {
      opacity: 0;
      transform: translateY(10px);
      filter: blur(12px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
      filter: blur(0px);
    }
  }

  /* Define the animation utility name */
  --animate-fade-in-up: fade-in-up 0.8s cubic-bezier(0.16, 1, 0.3, 1) forwards;
}

@layer base {
  :root {
    --radius: 0.5rem;
    --theme-line-height-base: 1.25;
    --font-size: 14px;

    /*--theme-background: #fff;
    --theme-text: #000;*/

    --theme-background: #0625ee;
    --theme-text: #fff;

    --theme-secondary-background: #f6f1de;
    --theme-secondary-text: #241f21;

    /*--theme-background: #0100fe;
    --theme-text: #fff;*/

    /*--theme-background: #ece9e0;
    --theme-text: #e43d13;*/

    /*--theme-background: #668964;
    --theme-text: #1b1b1b;*/

    /*--theme-background: #e8ff6c;
    --theme-text: #000;*/
  }
}

@layer base {
  body {
    @apply bg-background text-text font-jakarta;
    line-height: calc(var(--theme-line-height-base) * 1rem);
  }

  ::-webkit-scrollbar {
    width: 5px;
  }
  ::-webkit-scrollbar-track {
    background: transparent;
  }
  ::-webkit-scrollbar-thumb {
    background: var(--color-gray-300);
    border-radius: 0px;
  }
  * {
    scrollbar-width: thin;
    scrollbar-color: var(--color-gray-300) transparent;
  }
  button:not(:disabled),
  [role="button"]:not(:disabled) {
    cursor: pointer;
  }
}
